---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/?api_key=<MOVIE API KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 25 Aug 2020 03:05:08 GMT
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Tue, 25 Aug 2020 03:05:08 GMT
recorded_with: VCR 6.0.0
