---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/299536?api_key=<MOVIE API KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f17c22d5dc3a9cb96691389caeb24581
      X-Memc-Age:
      - '16617'
      X-Memc-Expires:
      - '4983'
      Etag:
      - W/"9775b3671ff7450143cd8ef581d6d29d"
      Last-Modified:
      - Tue, 25 Aug 2020 21:49:39 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg","belongs_to_collection":{"id":86311,"name":"The
        Avengers Collection","poster_path":"/tqXiOD5rTyHgabO73Tpw9JDbd88.jpg","backdrop_path":"/zuW6fOiusv4X9nnW3paHGfXcSll.jpg"},"budget":300000000,"genres":[{"id":12,"name":"Adventure"},{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"}],"homepage":"https://www.marvel.com/movies/avengers-infinity-war","id":299536,"imdb_id":"tt4154756","original_language":"en","original_title":"Avengers:
        Infinity War","overview":"As the Avengers and their allies have continued
        to protect the world from threats too large for any one hero to handle, a
        new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic
        infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable
        power, and use them to inflict his twisted will on all of reality. Everything
        the Avengers have fought for has led up to this moment - the fate of Earth
        and existence itself has never been more uncertain.","popularity":100.169,"poster_path":"/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg","production_companies":[{"id":420,"logo_path":"/hUzeosd33nzE5MCNsZxCGEKTXaQ.png","name":"Marvel
        Studios","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2018-04-25","revenue":2046239637,"runtime":149,"spoken_languages":[{"iso_639_1":"en","name":"English"},{"iso_639_1":"xh","name":""}],"status":"Released","tagline":"An
        entire universe. Once and for all.","title":"Avengers: Infinity War","video":false,"vote_average":8.3,"vote_count":19415}'
  recorded_at: Wed, 26 Aug 2020 01:20:37 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=laskdj987adsf&client_id=1020502748600-2gjve8osr4co7q52ueiijltl3fmai2li.apps.googleusercontent.com&client_secret=ZeQIa-hzIGHQ_xFRCwapwHv1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": "invalid_grant",
          "error_description": "Bad Request"
        }
  recorded_at: Wed, 26 Aug 2020 01:20:37 GMT
recorded_with: VCR 6.0.0
