---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIE API KEY>&query=qqwertyuiop%5Bsdfghj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 8e6292c3d9056c0d08bd7f939021844e
    body:
      encoding: UTF-8
      string: '{"page":1,"total_results":0,"total_pages":0,"results":[]}'
  recorded_at: Fri, 21 Aug 2020 22:23:08 GMT
recorded_with: VCR 6.0.0
